<div class="container">
  <div class="row">
    <% if notice.present? %>
      <p id="notice"><%= notice %></p>
    <% end %>

    <h1>Lista de <%= Task.model_name.human %></h1>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><%= Task.human_attribute_name :id %></th>
          <th scope="col"><%= Task.human_attribute_name :description %></th>
          <th scope="col"><%= Task.human_attribute_name :status %></th>
          <th scope="col"><%= Task.human_attribute_name :created_at %></th>
          <th scope="col"><%= t('helpers.view.actions') %></th>
          <th scope="col"></th>
        </tr>
      <thead>
          
      <tbody>
        <% @backlog_tasks.each do |task| %>
          <tr>
            <th scope="row"><%= task.id %></th>
            <td><%= task.description %></td>
            <td><%= task.created_at.strftime('%d %b %Y') %></td>
            <td><%= Task.human_attribute_name task.status %></td>
            <td colspan='2'>
              <div class="d-grid gap-2 d-md-block">
                <%= render_button 'show', task %>
                <%= render_button 'edit', edit_task_path(task) %>
                <%= button_to t('helpers.button.destroy'), destroy_task_path(task),
                  :method => 'delete', class: 'btn btn-danger btn-sm' %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="row">
    <div class="container">
      <%= render_button 'new', new_task_path %>
    </div>
  </div>
</div>
